books.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Book" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Title"/>
                            <xs:element type="xs:string" name="Author"/>
                            <xs:element type="xs:string" name="Country"/>
                            <xs:element type="xs:string" name="Language"/>
                            <xs:element type="xs:short" name="Price"/>
                            <xs:element type="xs:short" name="Quantity"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>